* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  color: #293264;
}

body {
  margin: 0;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #F5F7FB;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.blob:first-of-type {
  position: absolute;
  width: 55%;
  height: 60%;
  left: 80%;
  bottom: 70%;
  background: #FFFAD1;
  transform: rotate(-128.49deg);
}

.blob:last-of-type {
  height: 20px;
  background: #DEEBF8;
  width: 55%;
  height: 60%;
  transform: rotate(128.49deg);
  position: absolute;
  top: 85%;
  right: 75%;
  border-radius: 50%;
}

.start-quiz {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz {
  z-index: 1;
  height: 100vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.title {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin: 0;
}

.description {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 4vw;
  margin-top: 1vw;
}

.btn {
  width: 25vw;
  min-height: 7vh;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F5F7FB;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 100%;
}

.question-text {
  font-size: 18px;
  line-height: 19px;
}

.answers {
  display: flex;
  gap: 15px;
}

.answer {
  border: 1px solid #DBDEF0;
  border-radius: 13px;
  min-height: 30px;
  min-width: 100px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 5px;
}

.answer:hover {
  cursor: pointer;
  background-color: #D6DBF5;
}

hr {
  border-top: 1px solid #DBDEF0;
  border-bottom: none;
  min-width: 100%;
  z-index: 0;
}

.footer {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  gap: 20px;
}

.footer h3 {
  font-family: 'Inter';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}